/* ####################
     COMPETENCES
#####################*/

#tm-competences {

    height: 700px;
    position: relative;

    h2 {
        text-align: center;
        margin-top: 70px;
        // margin-bottom: 50px;
    }

    .tm-progressBar {

        display: flex;
        align-items: center;
        margin: 0%;

        // Hauteur des progresseBarres
        height: 88%;

        .tm-left {

            width: 50%;
            border-right: solid #BA4D54 1px;

            // Images des logiciels de 1 à 4

            .tm-container-progress1 {

                display: flex;
                justify-content: center;
                

                // Image HTML

                .tm-img1 {
                    background-image: url("../../public/img/logo-portfolio/html.png");
                    background-size: cover;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 1

                .tm-progress1 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done1 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress2 {

                display: flex;
                justify-content: center;

                // Image CSS

                .tm-img2 {
                    background-image: url("../../public/img/logo-portfolio/css.png");
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 72px;
                    max-height: 64px;
                    width: 72px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 2
            
                .tm-progress2 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done2 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress3 {

                display: flex;
                justify-content: center;

                // Image PHP

                .tm-img3 {
                    background-image: url("../../public/img/logo-portfolio/php.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 82px;
                    max-height: 64px;
                    width: 82px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 3
                                
                .tm-progress3 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }

                .tm-progress-done3 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress4 {

                display: flex;
                justify-content: center;

                // Image Angular

                .tm-img4 {
                    background-image: url("../../public/img/logo-portfolio/angular.png");
                    background-size: cover;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 4
            
                .tm-progress4 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done4 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    
        }


        .tm-right {

            width: 50%;

            // Images des logiciels de 5 à 8

            .tm-container-progress5 {

                display: flex;
                justify-content: center;

                // Image JS

                .tm-img5 {
                    background-image: url("../../public/img/logo-portfolio/javascript.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 100px;
                    max-height: 64px;
                    width: 100px;
                    height: 64px;
                    margin: auto;
                    margin-top: 22px;
                }
            
                // ProgressBar 5
        
                .tm-progress5 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 5%;
                }
                
                .tm-progress-done5 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress6 {

                display: flex;
                justify-content: center;

                // Image Wordpress

                .tm-img6 {
                    background-image: url("../../public/img/logo-portfolio/wordpress.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 60px;
                    max-height: 64px;
                    width: 60px;
                    height: 64px;
                    margin: auto;
                    margin-top: 22px;
                }

                // ProgressBar 6
            
                .tm-progress6 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 5%;
                }
                
                .tm-progress-done6 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress7 {

                display: flex;
                justify-content: center;

                // Image Symfony

                .tm-img7 {
                    background-image: url("../../public/img/logo-portfolio/Symfony.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                    margin-top: 22px;
                }

                // ProgressBar 7
        
                .tm-progress7 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 5%;
                }
                
                .tm-progress-done7 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress8 {

                display: flex;
                justify-content: center;

                // Image BDD

                .tm-img8 {
                    background-image: url("../../public/img/logo-portfolio/bdd.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                    margin-top: 22px;
                }

                // ProgressBar 8
            
                .tm-progress8 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 5%;
                }
                
                .tm-progress-done8 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }
        }
    }
}

/* ####################
    FIN COMPETENCES
#####################*/