body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ####################
        ENTETE
#####################*/ 

// Navbar : 

#tm-entete {

    box-sizing: border-box;
    position: relative;

    .tm-navbar {
    
        display: flex;
        justify-content: space-around;
        background-color: #65ACBC;
        color: white;
        margin: auto;
        font-weight: 800;
        font-size: 1rem;

        // A enlever quand j'aurais mon logo
        a {
            color: white;
            text-decoration: none;
        }

        // Décommenter quand j'aurais mon logo
        .tm-logo {
            // background-image: url("");
            // background-size: cover;
            // width: 30px;
            // height: 30px;
            position: absolute;
            left: 40px;
            top: 10px;
        }

        ul {
            margin-bottom: 0;
            height: 40px;

            a {
                color: white;
                text-decoration: none;
            }

            li:first-child a {
                background-image: url('../../public/img/logo-navbar/page-d\'accueil.png');
                background-size: cover;
                width: 1rem;
                height: 1rem;
                display: inline-block;
                background-position: center;
                vertical-align: sub;
            }
        }

        li {
            list-style: none;
            display: inline-block;
            margin-right: 40px;
        }     
        
        .tm-toggle {
            background-image: url("../../public/img/logo-navbar/burger-menu.png");
            background-size: cover;
            width: 30px;
            height: 30px;
            position: fixed;
            right: 40px;
            top: 10px;
            z-index: 1;
        }
    }
}

/* ####################
       FIN ENTETE
#####################*/ 

/* ####################
        PROJETS
#####################*/ 

#tm-projets1 {

    height: 100%;
    width: 100%;
    padding-bottom: 70px;

    h2 {
        text-align: center;
        margin: 0 0 70px 0;
        padding-top: 70px;
    }

    .tm-container {
        width: 40%; 
        height: 50%;
        display: inline-block;
        flex-wrap: wrap;
        padding: 4.9%;
    }
  
    .tm-block {
        width: 100%;
        height: 300px;
        margin: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 5px 1px #111;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        perspective: 2000px;
        background-color: #666;
        margin: auto;
    }
  
    .tm-block-img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transform: rotateX(0deg);
        transform-origin: top center;
        transition: all 300ms ease-out;
    }
  
    .tm-block1 {
        background-image: url("../../public/img/image-projets/projet-cv.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
  
    .tm-block2 {
        background-image: url("../../public/img/image-projets/projet-business-case.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
  
    .tm-block-text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: #111;
        color: white;
        transform: rotateX(120deg);
        transform-origin: bottom center;
        transition: all 300ms ease-in;
    }

    .tm-btn-block {
        display: block;
        text-decoration: none;
        width: 110px;
        height: 40px;
        background: #BA4D54;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        line-height: 40px;
        font-size: .8rem;
        color: white;
        transform: translateY(100px);
        transition: .4s cubic-bezier(.46, 1.48, .18, .81);
    }
  
    .tm-block:hover .tm-btn-block {
        transform: translateY(0);
        transition-delay: .5s;
    }

    .tm-block:hover .tm-block-text {
        transform: rotateX(0deg);
    }
  
    .tm-block:hover .tm-block-img {
        transform: rotateX(-120deg);
    }
  
    .tm-text-head {
        text-align: center;
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #BA4D54;
    }
  
    .tm-text-quote {
        padding: 20px 20px 0px;
        font-size: 18px;
        text-align: center;
    }
}


/* ####################
      FIN PROJETS
#####################*/ 

/* ####################
    CERTIFICATIONS
#####################*/ 

#tm-certifications {

    background-color: #f7f7f7;
    height: 700px;

    h2 {
        text-align: center;
        margin: 0 0 120px 0;
        padding-top: 90px;
    }

    .tm-container2 {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-around;
        text-align: center;

        .tm-op1 {

            width: 25%;
            border: 1px solid #BA4D54;

            a {
                background-image: url('../../public/img/logo-portfolio/oc.png');
                background-size: cover;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .tm-op2 {

            width: 25%;
            border: 1px solid #BA4D54;

            a {
                background-image: url('../../public/img/logo-portfolio/oc.png');
                background-size: cover;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .tm-hb {

            width: 25%;
            border: 1px solid #BA4D54;

            a {
                background-image: url('../../public/img/logo-portfolio/hb.png');
                background-size: cover;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}


/* ####################
  FIN CERTIFICATIONS
#####################*/ 


/* ####################
        FOOTER
#####################*/

#tm-footer {

    background-color: #65ACBC;
    color: white;
    display: flex;
    text-align: center;
    height: 250px;
    font-size: 1rem;

    .tm-logo {

        width: 33%;

        // A enlever quand j'aurais mon logo
        a {
            color: white;
            text-decoration: none;
        }

        // Décommenter quand j'aurais mon logo
        .tm-logo1 {
            // background-image: url("../../public/img/logo-portfolio/affinity.png");
            // background-size: cover;
            // width: 30px;
            // height: 30px;
            display: inline-block;
            margin-top: 25%;
        }        
    }

    .tm-contact {

        width: 33%;

        p {
            margin-top: 30px;
        }

        .tm-contact1 {

            margin-top: 50px;

            .tm-email {

                border: 1px solid #BA4D54;
                border-radius: 10px;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                background-color: #BA4D54;
                margin-right: 30px;
            }

            .tm-numTel {

                border: 1px solid #BA4D54;
                border-radius: 10px;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                background-color: #BA4D54;
            }
        }

        .tm-reglesSecu {

            margin-top: 50px;
        }
    }

    .tm-reseauxSociaux {

        width: 33%;
        margin-top: 50px;

        p {
            margin-bottom: 30px;
        }

        .tm-fb1 {

            background-image: url("../../public/img/logo-footer/logo-fb.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        .tm-insta1 {

            background-image: url("../../public/img/logo-footer/logo-insta.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        .tm-git1 {

            background-image: url("../../public/img/logo-footer/logo-github.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        .tm-linkedin1 {

            background-image: url("../../public/img/logo-footer/logo-linkedin.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
    }
}


/* ####################
      FIN FOOTER
#####################*/