*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ####################
        ENTETE
#####################*/ 

// Navbar : 

#tm-entete {

    box-sizing: border-box;

    .tm-navbar {
    
        display: flex;
        justify-content: space-around;
        background-color: #65ACBC;
        color: white;
        margin: auto;
        font-weight: 800;

        .tm-logo {
            background-image: url("../../public/img/logo-navbar/Logo\ TMD\ finit.svg");
            background-size: cover;
            background-position: center;
            width: 100px;
            height: 80px;
            position: absolute;
            left: -20px;
            top: 10px;
            transform: translate(25px, -10%);
            z-index: 2;
        }

        ul {
            margin-bottom: 0;
            height: 40px;
            font-size: 1.1rem;

            a {
                color: white;
                text-decoration: none;
            }

            .tm-home {
                background-image: url('../../public/img/logo-navbar/page-d\'accueil.png');
                background-size: cover;
                width: 1.2rem;
                height: 1.2rem;
                display: inline-block;
                background-position: center;
                vertical-align: sub;
                margin-right: 8px;
            }
        }

        li {
            list-style: none;
            display: inline-block;
            margin-right: 40px;
        }


        .tm-toggle {
            background-image: url("../../public/img/logo-navbar/burger-menu.png");
            background-size: cover;
            width: 30px;
            height: 30px;
            position: fixed;
            right: 5%;
            top: 5%;
            z-index: 1;
        }  
    }



// Caroussel :

    // Text animé du caroussel
    #tm-table {
        text-align: center;
        display: table;
        color: #BA4D54;
        width: 60%;
        height: 30%;
        position: absolute;
        top: 42%;
        left: 20%;
        z-index: 1;
    }
        
    #tm-centeralign {
        display: table-cell;
        vertical-align: middle;
    }

    .tm-title-anime {
        text-transform: uppercase;
        letter-spacing: 1pt;
        font-size: 30pt;
        margin-bottom: 15px;
    }
    // Fin du text animé


    // Caroussel 
    .tm-caroussel {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #65ACBC;
    }

    // Je masque le surplus de la 2ème image qui empiétais sur la 1ère lors du zoom
    .tm-carousel-screen {
        overflow: hidden;
    }
    
    /*Pour marcher le caroussel ne doit pas être à 100% de largeur*/
    .tm-carousel-container {

        max-width: auto;
        width: 85%;
        position: relative;

        .tm-left-arrow {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            height: 100%;
            width: 147px;
            cursor: pointer;
        }
        
        .tm-left-arrow:hover {
            background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        }
        
        .tm-left-arrow:hover .chevron,
        .tm-right-arrow:hover .chevron {
            border-color: #e6e6e6;
        }
        
        .tm-right-arrow {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            height: 100%;
            width: 147px;
            cursor: pointer;
        }
        
        .tm-right-arrow:hover {
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        }
        
        .tm-chevron {
            width: 25px;
            height: 25px;
            border: solid rgba(255, 255, 255, 0.5);
            border-width: 10px 10px 0 0;
        }
        
        .tm-chevron.right {
            transform: rotate(45deg);
        }
        
        .tm-chevron.left {
            transform: rotate(-135deg);
        }
    }
    
    /*C'est le vériatble caroussel qui est caché*/
    .tm-carousel {
        position: relative;
        width: 100%;
        /*La largeur de l'image est de 980px et sa hauteur est de 570px.*/
        padding-top: calc(570 / 980 * 100%);
        overflow: hidden;
    }

    // Effet zoom 1ère image
    .tm-full1 {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }

    .tm-zoom1 {
        animation: scale 40s linear infinite;
    }

    @keyframes scale {
        50% {
          -webkit-transform:scale(1.2);
          -moz-transform:scale(1.2);
          -ms-transform:scale(1.2);
          -o-transform:scale(1.2);
          transform:scale(1.2);
        }
    }
    // Fin du zoom de la 1ère image


    // Effet zoom 2ème image
    .tm-full2 {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }

    .tm-zoom2 {
        animation: scale 40s linear infinite;
    }

    @keyframes scale {
        50% {
          -webkit-transform:scale(1.2);
          -moz-transform:scale(1.2);
          -ms-transform:scale(1.2);
          -o-transform:scale(1.2);
          transform:scale(1.2);
        }
    }
    // Fin du zoom de la 2ème image


    .tm-carousel-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .tm-circle-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
    }
    
    .tm-circle {
        border: 1px solid white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .circle-fill {
        background-color: white;
    }
    
    .tm-carousel-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    /* Animations :*/
    @keyframes toRight {
        0% {
        left: 0;
        }
        100% {
        left: 100%;
        }
    }
    
    @keyframes toLeft {
        0% {
        left: 0;
        }
        100% {
        left: -100%;
        }
    }
    
    @keyframes comeRight {
        0% {
        left: 100%;
        }
        100% {
        left: 0;
        }
    }
    
    @keyframes comeLeft {
        0% {
        left: -100%;
        }
        100% {
        left: 0;
        }
    }
}

/* ####################
       FIN ENTETE
#####################*/ 



/* ####################
       TOGGLE NAV
#####################*/ 

.tm-toggle {
    margin-top: 7px;
}

#tm-toggleNav {

    display: none;
    
    .tm-toggleNav-container {
        position: fixed;
        right: 0px;
        top: 7.4%;
        z-index: 1;
        opacity: 80%;

        display: flex;
        width: 15%;
        margin: auto;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        background-color: #65ACBC;
        color: white;

        a {
            text-decoration: none;
            color: white;
        }

        .tm-toggleNav1 {
            border: 1px solid #BA4D54;
        }

        .tm-toggleNav2 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }

        .tm-toggleNav3 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }

        .tm-toggleNav4 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }

        .tm-toggleNav5 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }

        .tm-toggleNav6 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }

        .tm-toggleNav7 {
            border-right: 1px solid #BA4D54;
            border-left: 1px solid #BA4D54;
            border-bottom: 1px solid #BA4D54;
        }
    }
}


/* ####################
    FIN TOOGLE NAV
#####################*/ 


/* ####################
     PRESENTATION
#####################*/ 

#tm-presentation {

    background-color: #65ACBC;
    color: white;

    h2 {
        text-align: center;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .tm-text {
        text-align: center;
        font-size: 1.3rem;

        a {
            text-decoration: none;
            color: #BA4D54;
            font-weight: bold;
        }
    }

    .tm-logiciels {

        display: flex;
        height: 100px;
        position: relative;

        // Mettre le parent en relatif pour positionner 

        .tm-macOS {
            background-image: url("../../public/img/logo-portfolio/mac.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 5%;
            top: -240px;
            transform: rotate(-15deg);
        }

        .tm-insta {
            background-image: url("../../public/img/logo-portfolio/insta.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 19%;
            top: -110px;
        }

        a.tm-insta:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        .tm-facebook {
            background-image: url("../../public/img/logo-portfolio/facebook.png");
            background-size: cover;
            width:50px;
            height: 40px;
            position: absolute;
            left: 11%;
            top: 40px;
            transform: rotate(-25deg);
        }

        a.tm-facebook:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        .tm-linkedin {
            background-image: url("../../public/img/logo-portfolio/linkedin.png");
            background-size: cover;
            width: 42px;
            height: 40px;
            position: absolute;
            right: 15%;
            top: -240px;
            transform: rotate(-15deg);
        }

        a.tm-linkedin:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        .tm-github {
            background-image: url("../../public/img/logo-portfolio/github.png");
            background-size: cover;
            width: 50px;
            height: 50px;
            position: absolute;
            right: 5%;
            top: -110px;
            transform: rotate(25deg);
        }

        a.tm-github:hover {
            transform: scale(1.5);
            transition: 0.3s;
        }

        .tm-affinity {
            background-image: url("../../public/img/logo-portfolio/affinity.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 22%;
            top: 40px;
        }
    }

    #tm-title1 {
        
        background-color: white;
        display: flex;
        margin: auto;
        justify-content: center;
        width: 1202px;
        position: relative;

        .tm-internet {
            background-image: url("../../public/img/logo-portfolio/website.png");
            background-size: cover;
            width: 50px;
            height: 50px;
            position: absolute;
            left: -8%;
            top: 80px;
            transform: rotate(20deg);
        }

        .tm-windows {
            background-image: url("../../public/img/logo-portfolio/windows10.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            position: absolute;
            right: -7%;
            top: 80px;
            transform: rotate(30deg);
        }

        .triangle-left {
            width: 0px;
            height: 0px;
            border: 0 solid transparent;
            border-top-width: 0px;
            border-bottom-width: 250px;
            border-left: 400px solid #65ACBC;
            // transform: translate(0% 0%);
        } 

        .tm-ovale {
            border-top: solid #BA4D54 1px;
            width: 220px;
            height: 100px;
            background: #BA4D54;
            border-top-left-radius: 200px 100px;
            border-top-right-radius: 200px 100px;
            border-bottom-right-radius: 200px 100px;
            border-bottom-left-radius: 200px 100px;
            margin-top: 120px;
            margin-left: 91px;
            margin-right: 91px;
            // transform: translate(0% 0%);

            h2 {
                width: 150px;
                padding: 35px;
                margin: auto;
            }
        }

        .triangle-right {
            width: 0px;
            height: 0px;
            border: 0 solid transparent;
            border-top-width: 0px;
            border-bottom-width: 250px;
            border-right: 400px solid #65ACBC;
            // transform: translate(0% 0%);
        }

        // Bordure gauche triangle de tm-title

        .border-triangle-left {
            width: 1px;
            height: 471px;
            background: #BA4D54;
            transform: rotate(58deg);
            position: absolute;
            z-index: 1;
            left: 198px;
            top: -111px;
        }

        // Bordure droite triangle de tm-title1

        .border-triangle-right {
            width: 1px;
            height: 470px;
            background: #BA4D54;
            transform: rotate(-58deg);
            position: absolute;
            z-index: 1;
            right: 198px;
            top: -110px;
        }

        // Bordure top de tm-title

        .border-tm-title1 {
            width: 1px;
            height: 406px;
            background: #BA4D54;
            transform: rotate(90deg);
            position: absolute;
            z-index: 1;
            left: 601px;
            top: -203px;
        }

        .tm-line1 {
            width: 330px;
            height: 170px;
            border: solid 1px black;
            border-radius: 0 100px 95%/200px 0;
            border-color: transparent transparent #BA4D54 transparent;
            position: absolute;
            top: 0px;
            right: 0px;
            transform: translate(-48%);
        }

        .tm-line2 {
            width: 330px;
            height: 170px;
            border: solid 1px black;
            border-radius: 0 100px 95%/200px 0;
            border-color: transparent transparent #BA4D54 transparent;
            position: absolute;
            top: 0px;
            left: 160px;
            transform: rotate(90deg);
            transform: scaleX(-1);
        }

        // Bordure bottom left de tm-title1 

        .border-bottom-left-tm-title1 {
            width: 1px;
            height: 148px;
            background: #BA4D54;
            transform: rotate(90deg);
            position: absolute;
            z-index: 1;
            left: -74px;
            top: 806px;
        }


        // Bordure bottom right de tm-title1 

        .border-bottom-right-tm-title1 {
            width: 1px;
            height: 148px;
            background: #BA4D54;
            transform: rotate(90deg);
            position: absolute;
            z-index: 1;
            right: -74px;
            top: 806px;
        }
    }

    .tm-projets {

        display: flex;
        margin: auto;
        width: 1202px;
        height: 630px;
        position: relative;
        background-color: white;
        border-left: solid #BA4D54 1px;
        border-right: solid #BA4D54 1px;

        .tm-maquettage {
            width: 390px;
            height: 700px;
            margin-top: 100px;
            margin-right: 15px;

            .tm-img1 {
                background-image: url("../../public/img/images-portfolio/maquettage.jpg");
                width: 390px;
                height: 200px;
                background-size: cover;
                display: inline-block;
                border: solid #BA4D54 1px;
            }

            .tm-maquettagePage {
                text-decoration: none;
                color: white;
            }

            .tm-maquettagePage:hover {
                text-shadow: 1px 1px 1px black;
            }

            .tm-btn-maquettage:hover {
                border-radius: 20px;
                transform: scale(1.1);
                transition: 0.3s;
            }
        }

        .tm-bc {
            width: 390px;
            height: 700px;
            margin-top: 100px;
            margin-right: 15px;

            .tm-img2 {
                background-image: url("../../public/img/images-portfolio/business-case.jpg");
                width: 390px;
                height: 200px;
                background-size: cover;
                display: inline-block;
                border: solid #BA4D54 1px;
            }

            .tm-bc-page {
                text-decoration: none;
                color: white;
            }

            .tm-bc-page:hover {
                text-shadow: 1px 1px 1px black;
            }

            .tm-btn-bc:hover {
                border-radius: 20px;
                transform: scale(1.1);
                transition: 0.3s;
            }
        }

        .tm-projetsPerso {
            width: 390px;
            height: 700px;
            margin-top: 100px;
            margin-right: 18px;

            .tm-img3 {
                background-image: url("../../public/img/images-portfolio/projets-perso.jpg");
                width: 390px;
                height: 200px;
                background-size: cover;
                display: inline-block;
                border: solid #BA4D54 1px;
            }

            .tm-projetsPersoPage {
                text-decoration: none;
                color: white;
            }

            .tm-projetsPersoPage:hover {
                text-shadow: 1px 1px 1px black;
            }

            .tm-btn-projetsPerso:hover {
                border-radius: 20px;
                transform: scale(1.1);
                transition: 0.3s;
            }
        }

        button {
            display: block;
            background-color: #BA4D54;
            color: white;
            width: 220px;
            height: 50px;
            margin: auto;
            margin-top: 150px;
        } 

        .tm-bytmoji {
            background-image: url("../../public/img/bytmoji/bytmoji.png");
                width: 150px;
                height: 250px;
                background-size: cover;
                display: inline-block;
                position: absolute;
                left: 0px;
                bottom: 0px;
                transform: translate(-80%);
        }
    }
}
/* ####################
    FIN PRESENTATION
#####################*/ 


/* ####################
      IMGSCROLL
#####################*/

#tm-imgScroll {

    height: 600px;
    width: 100%;

    .tm-imgS {

        background-image: url('../../public/img/image-scroll/image-scroll.jpg');
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        width: inherit;
        height: 500px;
        width: 100%;
        background-attachment: fixed;
    }
}


/* ####################
    FIN IMGSCROLL
#####################*/

/* ####################
     COMPETENCES
#####################*/

#tm-competences {

    height: 700px;
    position: relative;

    h2 {
        text-align: center;
        margin-top: 70px;
        // margin-bottom: 50px;
    }

    .tm-progressBar {

        display: flex;
        align-items: center;
        margin: 0%;

        // Hauteur des progresseBarres
        height: 88%;

        .tm-left {

            width: 50%;
            border-right: solid #BA4D54 1px;

            // Images des logiciels de 1 à 4

            .tm-container-progress1 {

                display: flex;
                justify-content: center;
                

                // Image HTML

                .tm-img1 {
                    background-image: url("../../public/img/logo-portfolio/html.png");
                    background-size: cover;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 1

                .tm-progress1 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done1 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress2 {

                display: flex;
                justify-content: center;

                // Image CSS

                .tm-img2 {
                    background-image: url("../../public/img/logo-portfolio/css.png");
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 72px;
                    max-height: 64px;
                    width: 72px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 2
            
                .tm-progress2 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done2 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress3 {

                display: flex;
                justify-content: center;

                // Image PHP

                .tm-img3 {
                    background-image: url("../../public/img/logo-portfolio/php.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 82px;
                    max-height: 64px;
                    width: 82px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 3
                                
                .tm-progress3 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }

                .tm-progress-done3 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress4 {

                display: flex;
                justify-content: center;

                // Image Angular

                .tm-img4 {
                    background-image: url("../../public/img/logo-portfolio/angular.png");
                    background-size: cover;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                }

                // ProgressBar 4
            
                .tm-progress4 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 20%;
                    margin-top: 5%;
                }
                
                .tm-progress-done4 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    
        }


        .tm-right {

            width: 50%;

            // Images des logiciels de 5 à 8

            .tm-container-progress5 {

                display: flex;
                justify-content: center;

                // Image JS

                .tm-img5 {
                    background-image: url("../../public/img/logo-portfolio/javascript.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 100px;
                    max-height: 64px;
                    width: 100px;
                    height: 64px;
                    margin: auto;
                    margin-top: 15px;
                }
            
                // ProgressBar 5
        
                .tm-progress5 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 4%;
                }
                
                .tm-progress-done5 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress6 {

                display: flex;
                justify-content: center;

                // Image Wordpress

                .tm-img6 {
                    background-image: url("../../public/img/logo-portfolio/wordpress.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 60px;
                    max-height: 64px;
                    width: 60px;
                    height: 64px;
                    margin: auto;
                    margin-top: 30px;
                }

                // ProgressBar 6
            
                .tm-progress6 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 6%;
                }
                
                .tm-progress-done6 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }    

            .tm-container-progress7 {

                display: flex;
                justify-content: center;

                // Image Symfony

                .tm-img7 {
                    background-image: url("../../public/img/logo-portfolio/Symfony.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                    margin-top: 30px;
                }

                // ProgressBar 7
        
                .tm-progress7 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 6%;
                }
                
                .tm-progress-done7 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }

            .tm-container-progress8 {

                display: flex;
                justify-content: center;

                // Image BDD

                .tm-img8 {
                    background-image: url("../../public/img/logo-portfolio/bdd.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    background-position: center;
                    min-height: 16px; 
                    min-width: 16px;
                    max-width: 64px;
                    max-height: 64px;
                    width: 64px;
                    height: 64px;
                    margin: auto;
                    margin-top: 15px;
                }

                // ProgressBar 8
            
                .tm-progress8 {
                    height: 30px;
                    width: 45%;
                    background-color: lightgray;
                    border-radius: 20px;
                    margin-bottom: 5%;
                    margin-left: 4%;
                    margin-right: 18%;
                    margin-top: 4%;
                }
                
                .tm-progress-done8 {
                    height: 100%;
                    width: 0%;
                    opacity: 0%;
                    background: linear-gradient(to left, #f2709c,#ff9472);
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
                    transition: 1s ease;
                }
            }
        }
    }
}

/* ####################
    FIN COMPETENCES
#####################*/


/* ####################
      ACTIVITES
#####################*/

#tm-activites {

    background-color: #65ACBC;
    color: white;
    height: 650px;


    h2 {
        text-align: center;
        padding-top: 7%;
        margin-bottom: 5%;
    }

    .tm-act {

        display: flex;

        h3 {
            margin-top: 15%;
        }
        .tm-cat1 {

            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: center;

            .tm-integration {
                background-image: url("../../public/img/images-portfolio/integration-web.jpg");
                background-size: cover;
                display: inline-block;
                background-position: center;
                height: 220px;
                width: 220px;
                border: solid #BA4D54 1px;;
                border-radius: 100%;
            }

            .tm-integration:hover {
                filter: brightness(50%);
                -webkit-filter: brightness(50%);
            }
        }

        .tm-cat2 {

            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: center;

            .tm-conception {
                background-image: url("../../public/img/images-portfolio/conception-graphique.jpg");
                background-size: cover;
                display: inline-block;
                background-position: center;
                height: 220px;
                width: 220px;
                border: solid #BA4D54 1px;;
                border-radius: 100%;
            }

            .tm-conception:hover {
                filter: brightness(50%);
                -webkit-filter: brightness(50%);
            }
        }

        .tm-cat3 {

            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: center;

            .tm-referencement {
                background-image: url("../../public/img/images-portfolio/referencement-web.jpg");
                background-size: cover;
                display: inline-block;
                background-position: center;
                height: 220px;
                width: 220px;
                border: solid #BA4D54 1px;;
                border-radius: 100%;
            }

            .tm-referencement:hover {
                filter: brightness(50%);
                -webkit-filter: brightness(50%);
            }
        }

        .tm-cat4 {

            display: flex;
            width: 25%;
            flex-direction: column;
            align-items: center;

            .tm-projetsWeb {
                background-image: url("../../public/img/images-portfolio/projet-web.jpg");
                background-size: cover;
                display: inline-block;
                background-position: center;
                height: 220px;
                width: 220px;
                border: solid #BA4D54 1px;;
                border-radius: 100%;
            }

            .tm-projetsWeb:hover {
                filter: brightness(50%);
                -webkit-filter: brightness(50%);
            }
        }
    }
}


/* ####################
    FIN ACTIVITES
#####################*/


/* ####################
      FORMULAIRE
#####################*/

#tm-formulaire {

    position: relative;

    .tm-title1 {

        display: flex;
        flex-direction: column;
        background-color: #65ACBC;

        h2 {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5%;
            width: 60%;
            height: 100px;
            margin: auto;
            background-color: white;
            border-radius: 20px 20px 0 0;
        }
    
        h3 {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100px;
            margin: auto;
            background-color: white; 

            a {
                text-decoration: none;
                padding: 0;
                color: #BA4D54;
                padding-bottom: 5%;
            }

            a.tm-mailto:hover {
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
    }

    .tm-avion {
        background-image: url('../../public/img/images-portfolio/avion-jaune.png');
        background-size: cover;
        display: inline-block;
        background-position: center;
        height: 20%;
        width: 17%;
        position: absolute;
        right: 13%;
        top: 62%;
    }

    .tm-form {

        background-image: url('../../public/img/images-portfolio/formulaire.jpg');
        background-size: cover;
        background-position: center;
        height: 720px;
        position: relative;

        .tm-form1 {
            display: flex;
            width: 40%;
            justify-content: center;
            flex-direction: row;
            padding-top: 60px;
            position: absolute;
            left: 10%;
        }

        .tm-form2 {
            display: flex;
            width: 40%;
            justify-content: center;
            flex-direction: row;
            padding-top: 60px;
            position: absolute;
            right: 10%;
        }

        .tm-form3 {
            display: flex;
            width: 40%;
            justify-content: center;
            padding-top: 60px;
            position: absolute;
            top: 80px;
            left: 10%;
        }

        .tm-form4 {
            display: flex;
            width: 40%;
            justify-content: center;
            padding-top: 60px;
            position: absolute;
            right: 10%;
            top: 80px;
        }

        .tm-form5 {
            display: flex;
            width: 40%;
            margin: auto;
            padding-top: 60px;
            justify-content: center;
            padding-top: 230px;
        }

        #url {
            text-align: center;
        }

        .tm-form6 {
            display: flex;
            width: 40%;
            margin: auto;
            padding-top: 60px;
            justify-content: center;
            padding-top: 60px;
        }

        #objet {
            text-align: center;
        }

        .tm-form7 {
            display: flex;
            width: 80%;
            height: 250px;
            margin: auto;
            padding-top: 60px;
            justify-content: center;

            textarea {
                width: 50%;
                height: 100%;
                text-align: center;
            }
        }

        .tm-form8 {
            display: flex;
            width: 30%;
            margin: auto;
            padding-top: 60px;
            justify-content: center;
        }

        .tm-form8-submit:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }

        input[type=submit] {
            background-color: #BA4D54;
            color: white;
        }

        .form_col {
            display: inline-block;
            padding: 3px 0px;
            min-height: 1px;
            text-align: right;
        }
            
        input {
            width: 40%;
            padding: 2px;
            border: 1px solid #BA4D54;
            border-radius: 2px;
            outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
        }
            
        input:focus {
            border-color: rgba(82, 168, 236, 0.75);
            box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
        }

        textarea:focus {
            border-color: rgba(82, 168, 236, 0.75);
            box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
        }
            
        .correct {
            border-color: rgba(68, 191, 68, 0.75);
        }
            
        .correct:focus {
            border-color: rgba(68, 191, 68, 0.75);
            box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
        }
            
        .incorrect {
            border-color: rgba(191, 68, 68, 0.75);
        }
            
        .incorrect:focus {
            border-color: rgba(191, 68, 68, 0.75);
            box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
        }
            
        .tooltip {
            display: inline-block;
            margin-left: 20px;
            padding: 2px 4px;
            border: 1px solid #555;
            background-color: #CCC;
            border-radius: 4px;
        }
    }
}


/* ####################
    FIN FORMULAIRE
#####################*/



/* ####################
        FOOTER
#####################*/

#tm-footer {

    background-color: #65ACBC;
    color: white;
    display: flex;
    text-align: center;
    height: 250px;
    font-size: 1rem;
    position:relative;

    .tm-logo {

        width: 33%;

        // Logo CV
        .tm-logo2 {
            background-image: url("../../public/img/logo-navbar/Logo\ TMD\ finit.svg");
            background-size: cover;
            background-position: center;
            display: inline-block;
            width: 200px;
            height: 150px;
            position: absolute;
            transform: translate(-80px, 50px);
        }        
    }

    .tm-contact {

        width: 33%;

        p {
            margin-top: 30px;
        }

        .tm-contact1 {

            margin-top: 50px;

            .tm-email {

                border: 1px solid #BA4D54;
                border-radius: 10px;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                background-color: #BA4D54;
                margin-right: 30px;
            }

            .tm-email:hover {
                box-shadow: 5px 5px 10px rgb(186, 77, 84);
                text-shadow: 1px 1px 1px black;
            }

            .tm-numTel {

                border: 1px solid #BA4D54;
                border-radius: 10px;
                padding: 0.4rem;
                text-decoration: none;
                color: white;
                background-color: #BA4D54;
            }

            .tm-numTel:hover {
                box-shadow: 5px 5px 10px rgb(186, 77, 84);
                text-shadow: 1px 1px 1px black;
            }  
        }

        .tm-reglesSecu {

            margin-top: 50px;
        }
    }

    .tm-reseauxSociaux {

        width: 33%;
        margin-top: 50px;

        p {
            margin-bottom: 30px;
        }

        .tm-fb1 {

            background-image: url("../../public/img/logo-footer/logo-fb.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        a.tm-fb1:hover {
            transform: scale(1.3);
            transition: 0.3s;
        }

        .tm-insta1 {

            background-image: url("../../public/img/logo-footer/logo-insta.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        a.tm-insta1:hover {
            transform: scale(1.3);
            transition: 0.3s;
        }

        .tm-git1 {

            background-image: url("../../public/img/logo-footer/logo-github.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        a.tm-git1:hover {
            transform: scale(1.3);
            transition: 0.3s;
        }

        .tm-linkedin1 {

            background-image: url("../../public/img/logo-footer/logo-linkedin.png");
            background-size: cover;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        a.tm-linkedin1:hover {
            transform: scale(1.3);
            transition: 0.3s;
        }
    }
}


/* ####################
      FIN FOOTER
#####################*/